body {
    margin: 0;
    padding: 0;
    background-image: url(Images/programming-1873854_1280.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.section {
    margin: 50px auto;
    width: 60%; 
    padding: 30px;
}

.section h1 {
    text-align: center;
    color: white;
    animation: fadeIn 1s ease-in;
}

.container {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 8px 8px 8px rgba(61, 61, 61, 0.5); 
    animation: fadeIn 1s ease-in;
}

.container h2 {
    color: crimson;
    font-size: 24px; 
    font-weight: bold;
    text-shadow: 1px 1px pink; 
}

.question {
    display: none;
}

.question.active {
    display: block;
}

.choice {
    padding: 10px;
}

.option {
    margin-bottom: 10px; 
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    font-size: 16px; 
}

.opt {
    width: 10%; 
    background-color: rgb(228, 80, 110);
    transition: background-color 0.3s ease; 
    display: inline-block; 
    color: white; 
}

.ans {
    width: 85%; 
    text-align: left;
    background-color: beige;
    transition: background-color 0.3s ease, color 0.3s ease; 
    display: inline-block; 
}

.butrow {
    display: flex;
    gap: 20px;
    justify-content: center;
    animation: fadeIn 1s ease-in;
}

.submit, .reset, .next {
    display: inline-block;
    width: 100px;
    padding: 10px;
    border-radius: 25px;
    color: white; 
    font-weight: bold; 
}

.submit {
    background-color: rgb(80, 193, 228);
    transition: background-color 0.3s ease; 
}

.reset {
    background-color: gold;
    transition: background-color 0.3s ease; 
}

.next {
    background-color: rgb(228, 80, 110);
    transition: background-color 0.3s ease; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
